<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true"
         stopOnError="true" stopOnFailure="true" stopOnWarning="true"
         bootstrap="vendor/autoload.php" failOnRisky="true" failOnWarning="true">
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/TracerBundle.php</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="test">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
